<table>
	<tr>
		<td>first name</td>
		<td>last name</td>
		<td>middle name</td>
	</tr>
		<td><input type="text" name="firstName"></td>
		<td><input type="text" name="lastName"></td>
		<td><input type="text" name="middleName"></td>
	<tr>
</table>